.DS_Store
.Rhistory
.RData
.Ruserdata
.Rproj.user/
renv/library/
renv/staging/
renv/cache/
data/raw/*
!data/raw/.gitkeep
data/derived/*
!data/derived/.gitkeep
ms/*.aux
ms/*.bbl
ms/*.blg
ms/*.fdb_latexmk
ms/*.fls
ms/*.log
ms/*.out
ms/*.synctex.gz
ms/*.xdv
dist/
