.DS_Store
.Rhistory
.RData
.Ruserdata
.Rproj.user/
renv/library/
renv/staging/
renv/cache/
data/raw/*
!data/raw/.gitkeep
!data/raw/naes00.rdata
!data/raw/naes04.rdata
!data/raw/naes08.rdata
!data/raw/nes08panel.Rdata
!data/raw/CCAP_STAN_OUTPUT.CSV
!data/raw/CCAP_STAN_all_rand2.sav
data/derived/*
!data/derived/.gitkeep
ms/*.aux
ms/*.bbl
ms/*.blg
ms/*.fdb_latexmk
ms/*.fls
ms/*.log
ms/*.out
ms/*.synctex.gz
ms/*.xdv
dist/
